label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  width: 430px;
}

@media (max-width: 575px) {
  .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    width: 320px;
  }
}

@media (max-width: 320px) {
  .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    width: 270px;
  }
}