label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

@media (max-width: 1300px) {
  .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    width: 430px;
  }
}

@media (max-width: 575px) {
  .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    width: 270px;
  }
}