.homePage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homePage form {
    width: 600px;
}

.address {
    margin-top: 1em;
    width: 100%;
    border: 1px solid #000a00;
    box-sizing: border-box;
}

.homePage label {
    font-weight: 500;
    margin: 10px 0;
}

.datePickerLabel {
    font-weight: 500;
    margin: 10px 0 2px 0;
}

.datePickerBox {
    width: 100%
}

.homePage input {
    border: 1px solid #ccc; 
    padding: 16.5px 14px;
    border-radius: 4px;
}

.homePage input[type="text"] {
    width: 94.5%;
    font-size: 1rem;
}

.homePage .input {
    width: 94.5%
}

.button {
    display: block;
    width: 100px;
    border: 1px solid #c5c5c5;
    color:  white;
    background-color: #4F5A26;
    padding: 7px;
    margin: auto;
    margin-top: 20px !important;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.2em;
}

.homePage button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@media (max-width: 650px) {
    .homePage form {
        width: 90vw;
    }
    .homePage h1 {
        font-size: 1.2rem;
    }

    .homePage label, .datePickerLabel {
        font-size: 0.86rem;
    }

    .homePage input[type="text"] {
        font-size: 0.8rem;
        width: 94%;
        padding: 10px;
    }

    .homePage .input {
        padding: 10px;
        width: 94%;
    }
}

@media (max-width: 425px) {
    .homePage input[type="text"] {
        width: 93%;
    }
    .homePage .input {
       width: 93%;
    }
}


@media (max-width: 320px) {
    .homePage input[type="text"] { 
        font-size: 1rem;
        width: 91%;
    }

    .homePage .input {
        width: 91%;
     }
}