.flexRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: #F8F7F1;
}

.title {
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
    height: 80px;
}

a {
    text-decoration: none;
}

.nav {
    color: #4F5A26;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-right: 30px;
}

.nav:focus {
    text-decoration: underline;
    color: #000a00;
}

.nav:hover {
    color: #000a00;
}

.footer {
display: flex;
align-items: center;
justify-content: center;
}

@media (max-width: 575px) {
    .nav {
        font-size: 0.8rem;
        margin-right: 1rem;
    }

    h1 {
        font-size: 1.2rem;
    }

    .logo {
        width: 50px;
        height: 50px;
    }
}