.input {
    display: flex;
    justify-content: flex-end;
    margin: 1vw;
}

.container {
    display: flex;
    justify-content: center;
}

.responsive {
    overflow-x:auto;
}

.table {
    width: 90vw;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    white-space: nowrap;
}

th:hover {
    cursor: pointer;
}

tr:hover {background-color: #F8F7F1;}

.thead .icon {
    width: 0.75em;
    margin-left: 10px;
    margin-bottom: -2px;
    visibility: hidden;
}

.thead:hover .icon, .thead:focus .icon{
    visibility: visible;
}